@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Euphoria+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Noto+Sans+Bengali&family=Rowdies:wght@700&display=swap");
@font-face {
  font-family: american;
  src: url("./dafont/american_captain/American\ Captain.ttf");
}
@font-face {
  font-family: gidole;
  src: url("./dafont/gidole/Gidole-Regular.ttf");
}
/* html{
  scroll-behavior: smooth;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

/* navbar */
.nav {
  padding: 0 10%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
}
.brand_logo img {
  height: 70px;
  padding: 10px 0;
}

.nav_ul {
  display: flex;
  align-items: center;
}

.nav_ul li {
  list-style: none;
  margin: 3px;
}

.nav_ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 13px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.nav_ul li a:hover {
  background-color: #c0272c;
}

#check:checked ~ .nav_ul {
  right: 0%;
}

#check {
  display: none;
}

.checkbtn {
  cursor: pointer;
  padding: 10px;
  display: none;
  color: #fff;
  font-size: 25px;
}

/* nav btn */
.mkdf-side-menu-icon {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.nav_popup {
  cursor: pointer;
  padding: 20px;
  background-color: #c0272c;
  border: none;
  outline: none;
}

@media (max-width: 1200px) {
  .nav {
    padding: 0 5%;
  }
  .hero_content {
    width: 80%;
  }
}
@media (max-width: 940px) {
 
  .nav {
    width: 100%;
    padding: 5%;
    position: fixed;
    top: 0;
  }

  .brand_logo img {
    height: 55px;
    padding: 10px 0;
  }

  .nav_ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 80px;
    background-color: #222;
    right: -100%;
    transition: 0.5s;
    width: 300px;
    height: auto;
    padding: 10px 0;
  }
  .nav_ul li {
    margin: 15px 0;
  }
  .checkbtn {
    display: block;
  }
  .nav_popup {
    display: none;
  }
}

/* hero section */
.hero_section {
  width: 100%;
  margin-top: 100px;
}
.hero_content {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  justify-items: center;
}
.hero_content img {
  width: 60%;
}
.hero_text_content h1,
.hero_text_content h5 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: gidole;
}
.hero_text_content h1 {
  font-family: american;
  font-size: calc(25px + (65 - 25) * (100vw - 320px) / (2100 - 320));
  margin: 10px 0 20px 0;
}
.hero_text_content h5 {
  letter-spacing: 10px;
  color: #c0272c;
  font-weight: 600;
  font-size: 16px;
}
.hero_text_content p {
  color: #6669;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: gidole;
}

.hero_text_content .hero_btn {
  margin: 40px 0;
  width: 205px;
  position: relative;
  background-color: #c0272c;
  padding: 10px 20px;
  z-index: 1;
  cursor: pointer;
}
.hero_text_content .hero_btn:hover button {
  margin-left: 65px;
}
.hero_text_content .hero_btn div {
  width: 150px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 23px;
  z-index: -1;
}
.hero_text_content .hero_btn i {
  right: 30px;
  position: absolute;
  top: 18px;
  color: #fff;
  font-size: 10px;
}
.hero_text_content .hero_btn button {
  border: none;
  outline: none;
  background-color: #c0272c;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .hero_content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .hero_content {
    width: 90%;
    /* padding-top: 50px; */
    /* margin: 100px auto 50px auto; */
  }
}
@media (max-width: 768px) {
  .hero_content {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2rem;
  }
  .hero_content img {
    width: 200px;
  }
  .hero_text_content {
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .hero_text_content p,
  .hero_text_content h1 {
    text-align: center;
  }
}

/* main product */
.product {
  background-color: #dee6e9;
  padding: 5% 10%;
}
.product_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.product_title h1,
.product_title h5 {
  padding: 0 20px;
  margin-bottom: 50px;
}
.product_title h5 {
  font-family: gidole;
  letter-spacing: 10px;
  color: #c0272c;
  font-weight: 600;
  font-size: 16px;
}
.product_title h1 {
  font-family: american;
  font-weight: 100;
  border-right: 1px solid #aaa;
  font-size: calc(22px + (45 - 22) * (100vw - 320px) / (2100 - 320));
}
.main_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.main_product_img {
  display: grid;
  justify-items: center;
}
.main_product_img img {
  width: 300px;
}
.product_des_1 .p_description,
.product_des_2 .p_description_2 {
  margin: 60px 0;
}
.product_des_1 .p_description > div,
.product_des_2 .p_description_2 > div {
  display: grid;
  grid-gap: 0.8rem;
}
.product_des_1 > div,
.product_des_2 > div {
  display: flex;
  gap: 1rem;
}
.p_description {
  text-align: right;
}
.p_description_2 h1,
.p_description h1 {
  color: #c0272c;
  font-family: american;
  font-weight: 100;
  font-size: 40px;
}
.p_description_2 h2,
.p_description h2 {
  color: #222;
  font-family: gidole;
  letter-spacing: 1px;
}
.p_description_2 p,
.p_description p {
  color: #666;
  line-height: 25px;
  font-family: gidole;
}
.phone_main_product {
  display: none;
}
.product_title h1 {
  font-size: 40px;
  /* letter-spacing: 5px; */
}

@media screen and (max-width: 1200px) {
  .product {
    background-color: #dee6e9;
    padding: 5% 7%;
  }
  .main_product_img img {
    width: 250px;
  }
  .product_des_1 .p_description,
  .product_des_2 .p_description_2 {
    margin: 30px 0;
  }
}

@media screen and (max-width: 992px) {
  .phone_main_product {
    display: block;
  }
  .main_product {
    display: none;
  }
  .phone_main_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .product_des {
    display: grid;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .phone_main_product {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .product_title {
    flex-direction: column-reverse;
  }
  .product_title h5 {
    margin-bottom: 20px;
  }
  .product_title h1 {
    border: none;
    text-align: left;
  }
}

/* Retailers */
.retailers {
  padding: 50px 0;
}
.retailers_container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
}
.cus_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  /* align-items: center; */
}

.accordion {
  width: 100%;
  max-width: 360px;
  /* margin: 30px auto 20px; */
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #c0272c;
}

.accordion li.open i {
  color: #c0272c;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.retailers_submenu {
  display: none;
  background: #dee6e9;
  font-size: 14px;
}

.retailers_submenu li {
  border-bottom: 1px solid #6664;
}

.retailers_submenu a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.retailers_submenu a:hover {
  background: #c0272c;
  color: #fff;
}
.cus_information {
  display: grid;
  gap: 2rem;
  max-height: 300px;
  overflow-y: auto;
}

.cus_information img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}
.cus_information,
.cus_address p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.cus_map iframe {
  width: 100%;
  max-height: 300px;
  border: none;
}
.all_cus_info {
  display: flex;
  gap: 2rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  margin: 5px 20px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .retailers_container {
    padding: 0 5%;
  }
  .retailers_container {
    grid-gap: 0rem;
  }
  .cus_container {
    grid-gap: 1rem;
  }
  .all_cus_info {
    gap: 1rem !important;
    margin: 5px 15px;
    padding: 5px;
  }
  .cus_information {
    gap: 0.5rem;
  }
  .cus_map iframe {
    max-height: 200px;
  }
  .cus_information {
    max-height: 200px;
  }
  .cus_information img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 992px) {
  .retailers_container {
    grid-template-columns: 1fr 3fr;
  }
  .cus_container {
    grid-template-columns: 1fr;
  }
  .cus_map {
    margin: 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .retailers_container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .accordion {
    max-width: 100% !important;
  }
}

/* pop-up-shape */
.side_text {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.side_text a {
  display: block;
}
.side_text a img {
  display: block;
  width: 50px;
  margin-left: -2px;
}

.trigger {
  text-align: center;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.side_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  z-index: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.side_modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 30rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 0;
}
.close-button:hover {
  background-color: #fff;
  color: #000;
}
.side_show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.claim_sec {
  background-color: #c0272c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 0.5rem;
}

.claim_sec h1 {
  font-family: american;
  font-size: 35px;
  color: #fff;
  font-weight: 100;
}
.claim_sec p {
  font-family: gidole;
  color: #fff;
}
.claim_sec input {
  border: none;
  outline: none;
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.claim_sec button {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.claim_info {
  max-height: 300px;
  overflow-y: auto;
}
.claim_info .claim_name {
  background-color: #dee6e9;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: gidole;
}
.claim_name p {
  font-size: 18px;
  font-weight: 500;
}
.claim_name button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
}

.product_bought {
  background-color: #c0272c;
  padding: 15px 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.claim_single_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.claim_single_product:hover {
  background-color: #dee6e9;
}
.claim_single_product div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.claim_single_product img {
  width: 100%;
  object-fit: cover;
}
.claim_single_product .warranty_claim {
  text-decoration: none;
  width: 80px;
  height: 25px;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .side_modal-content {
    width: 90%;
  }
  .claim_sec h1 {
    font-size: 30px;
  }
  .claim_single_product {
    grid-template-columns: 1fr 1fr;
  }
}

/* contact us */
.contact_us {
  padding: 50px 0;
}
.quick_fix_map iframe {
  width: 100%;
  max-height: 500px;
}
.contact_info {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  background-color: #c0272c;
}
.contact_address {
  display: grid;
  gap: 4rem;
}
.contact_address_top {
  display: grid;
  gap: 0.5rem;
}
.contact_address_top h5 {
  font-family: gidole;
  letter-spacing: 10px;
  color: #fff;
  font-size: 16px;
}
.contact_address_top h1 {
  font-family: american;
  color: #222;
  font-size: 55px;
  font-weight: 100;
}
.contact_address_top p {
  font-family: gidole;
  color: #fff;
  line-height: 25px;
  font-size: 17px;
}
.contact_address_bottom {
  font-family: gidole;
  color: #222;
  display: grid;
  gap: 1rem;
}
.contact_address_bottom div {
  display: flex;
  gap: 1rem;
  color: #fff;
}
.contact_address_bottom div i {
  color: #fff;
  font-size: 20px;
}

.contact_mail {
  display: grid;
  gap: 2rem;
}
.contact_mail input,
.contact_mail textarea {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: #c0272c;
  padding: 10px;
  color: #fff;
}
.contact_mail p {
  font-family: gidole;
  font-weight: 500;
  color: #fff;
}
.contact_mail textarea {
  height: 200px;
}
.contact_mail button {
  display: block;
  width: 200px;
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #222;
  font-family: gidole;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.contact_mail button:hover {
  background-color: #222;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .contact_info {
    padding: 5%;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact_address_top h1 {
    font-size: 40px;
  }
}

/* about us */
.about_us {
  background: linear-gradient(#fff, #c0272c1f);
  padding: 5% 10%;
}

.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.about_text {
  display: grid;
  gap: 2rem;
}
.about_text h1 {
  font-family: american;
  font-size: 40px;
  font-weight: 100;
}
.about_text p {
  font-family: gidole;
  font-size: 16px;
  text-align: justify;
}
.about_container_img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .about_us {
    padding: 5%;
  }
}
@media screen and (max-width: 992px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    width: 240px;
    height: 320px;
  }
  .about_text h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .swiper {
    width: 160px;
    height: 240px;
  }
  .about_text h1 {
    text-align: center;
  }
}

/* footer */
.footer_container {
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  justify-items: center;
  gap: 2rem;
  background-color: #000;
  color: #fff;
}
.footer_location img {
  width: 60%;
}
.footer_address div {
  font-size: 18px;
  display: flex;
  gap: 1rem;
}
.footer_address div a {
  color: #ffff;
}
.footer_container h2,
.footer_container p {
  font-family: Arial, Helvetica, sans-serif;
}
.footer_about,
.footer_address,
.footer_location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_location {
  display: grid;
  justify-items: center;
}
.footer_about img {
  width: 300px;
}
.footer_about a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1200px) {
  .footer_container {
    padding: 5%;
    gap: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer_container {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  .footer_container p {
    font-size: 14px;
  }
  .footer_location {
    justify-items: left;
  }
  .footer_location img {
    width: 50%;
  }
  .footer_about img {
    width: 250px;
  }
  .footer_container h2 {
    font-size: 20px;
  }
}

/* warranty_form */
.warranty_form {
  padding: 2% 10%;
}
.warranty_form h1 {
  background-color: #c0272c;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  font-family: american;
  font-weight: 100;
  font-size: 40px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 30px auto;
  border: 1px solid #dddddd;
}
tr {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.warranty_form_input {
  display: grid;
  gap: 2rem;
}
.odo_input,
.warranty_detalis,
.warranty_img_input {
  display: grid;
  gap: 0.5rem;
}
.odo_input input {
  width: 100%;
  border: 1px solid #ddd;
  outline: none;
  padding: 10px;
}
.odo_input p,
.warranty_detalis p,
.warranty_img_input p {
  font-family: Arial, Helvetica, sans-serif;
}
.warranty_detalis textarea {
  width: 100%;
  height: 250px;
  border: 1px solid #ddd;
  outline: none;
  padding: 10px;
}

.w_file {
  position: relative;
  display: flex;
  align-items: center;
}

.w_file > input[type="file"] {
  display: none;
}

.w_file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: #d8d8d8 #d1d1d1 #bababa;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: #ffffff;
  color: #4a4a4a;
  padding: 40px;
}

.w_file > label:hover {
  border-color: #363636;
}

.w_file > label:active {
  background-color: #f5f5f5;
}

.w_file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  color: #c0272c;
  border-color: #c0272c;
}

.file--upload > label:hover {
  border-color: #c0272c;
  background-color: #c0272c10;
}

.file--upload > label:active {
  background-color: #c0272c41;
}
.file_img,
.w_up_img {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.file_img img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.warranty_submit_btn {
  display: flex;
  margin: 2rem 0;
  gap: 1rem;
}
.warranty_submit_btn button {
  border: none;
  outline: none;
  padding: 12px 30px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
}
.warranty_submit_btn button:nth-child(1) {
  background-color: #000;
  color: #fff;
}
.warranty_submit_btn button:nth-child(2) {
  background-color: #c0272c;
  color: #fff;
}
.warranty_submit_btn button:nth-child(1):hover {
  background-color: #000000c5;
}
.warranty_submit_btn button:nth-child(2):hover {
  background-color: #c0272cc5;
}

@media screen and (max-width: 576px) {
  .warranty_form {
    padding: 2% 5%;
  }
  .file_img,
  .warranty_submit_btn,
  .w_up_img {
    justify-content: center;
  }
  .odo_input p,
  .warranty_detalis p,
  .warranty_img_input p {
    text-align: center;
  }
  .warranty_detalis textarea {
    height: 150px;
  }
  .warranty_form h1 {
    font-size: 25px;
  }
}

/* review */

.review {
  background-color: #dee6e9;
  padding: 5% 10%;
  font-family: gidole;
}
.review_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.review_input {
  display: grid;
  gap: 2rem;
}
.review_email,
.review_name,
.review_comment,
.review_rating {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.save_rev {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}
.review_email input,
.review_name input {
  padding: 10px;
  border: none;
  outline: none;
}
.review_comment textarea {
  border: none;
  outline: none;
  height: 150px;
  padding: 10px;
}
.review_rating select {
  border: none;
  outline: none;
  padding: 10px;
  width: 50%;
}
.review_btn button {
  border: none;
  outline: none;
  padding: 10px 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.review_btn button:active {
  transform: scale(0.8);
}
.all_reviews {
  display: grid;
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
}
.single_review {
  height: auto;
  margin: 10px;
  background-color: #dee6e9;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
}
.single_review div {
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .review {
    padding: 5%;
  }
  .review_container {
    gap: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .review_container {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .review_email,
  .review_name,
  .review_comment,
  .review_rating {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }
  .review_rating select {
    width: 100%;
  }
}
