@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Euphoria+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Noto+Sans+Bengali&family=Rowdies:wght@700&display=swap");
@font-face {
  font-family: american;
  src: url("./dafont/american_captain/American\ Captain.ttf");
}
@font-face {
  font-family: gidole;
  src: url("./dafont/gidole/Gidole-Regular.ttf");
}
/* html{
  scroll-behavior: smooth;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}

/* navbar */
.nav {
  padding: 0 10%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
  position: sticky;
  top: 0;
  z-index: 99;
}
.brand_logo img {
  height: 70px;
  padding: 10px 0;
}

.nav_ul {
  display: flex;
  align-items: center;
}

.nav_ul li {
  list-style: none;
  margin: 3px;
}

.nav_ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 12px 13px;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
}
.nav_ul li a:hover {
  background-color: #c0272c;
}

#check:checked ~ .nav_ul {
  right: 0%;
}

#check {
  display: none;
}

.checkbtn {
  cursor: pointer;
  padding: 10px;
  display: none;
  color: #fff;
  font-size: 25px;
}

/* nav btn */
.mkdf-side-menu-icon {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.nav_popup {
  cursor: pointer;
  padding: 20px;
  background-color: #c0272c;
  border: none;
  outline: none;
}

@media (max-width: 1200px) {
  .nav {
    padding: 0 5%;
  }
  .hero_content {
    width: 80%;
  }
}
@media (max-width: 940px) {
  nav {
    padding: 5%;
  }

  .brand_logo img {
    height: 55px;
    padding: 10px 0;
  }

  .nav_ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    background-color: #222;
    right: -100%;
    transition: 0.5s;
    width: 300px;
    height: 100%;
  }
  .nav_ul li {
    margin: 10px 0;
  }
  .checkbtn {
    display: block;
  }
  .nav_popup {
    display: none;
  }
}

/* hero section */
.hero_section {
  width: 100%;
}
.hero_content {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  justify-items: center;
}
.hero_content img {
  width: 60%;
}
.hero_text_content h1,
.hero_text_content h5 {
  text-transform: uppercase;
  font-weight: 100;
  font-family: gidole;
}
.hero_text_content h1 {
  font-family: american;
  font-size: calc(25px + (65 - 25) * (100vw - 320px) / (2100 - 320));
  margin: 10px 0 20px 0;
}
.hero_text_content h5 {
  letter-spacing: 10px;
  color: #c0272c;
  font-weight: 600;
  font-size: 16px;
}
.hero_text_content p {
  color: #6669;
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 500;
  font-family: gidole;
}

.hero_text_content .hero_btn {
  margin: 40px 0;
  width: 205px;
  position: relative;
  background-color: #c0272c;
  padding: 10px 20px;
  z-index: 1;
  cursor: pointer;
}
.hero_text_content .hero_btn:hover button {
  margin-left: 65px;
}
.hero_text_content .hero_btn div {
  width: 150px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 23px;
  z-index: -1;
}
.hero_text_content .hero_btn i {
  right: 30px;
  position: absolute;
  top: 18px;
  color: #fff;
  font-size: 10px;
}
.hero_text_content .hero_btn button {
  border: none;
  outline: none;
  background-color: #c0272c;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
}
@media (max-width: 1200px) {
  .hero_content {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .hero_content {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .hero_content {
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 2rem;
  }
  .hero_content img {
    width: 200px;
  }
  .hero_text_content {
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .hero_text_content p,
  .hero_text_content h1 {
    text-align: center;
  }
}

/* main product */
.product {
  background-color: #dee6e9;
  padding: 5% 10%;
}
.product_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.product_title h1,
.product_title h5 {
  padding: 0 20px;
  margin-bottom: 50px;
}
.product_title h5 {
  font-family: gidole;
  letter-spacing: 10px;
  color: #c0272c;
  font-weight: 600;
  font-size: 16px;
}
.product_title h1 {
  font-family: american;
  font-weight: 100;
  border-right: 1px solid #aaa;
  font-size: calc(22px + (45 - 22) * (100vw - 320px) / (2100 - 320));
}
.main_product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.main_product_img {
  display: grid;
  justify-items: center;
}
.main_product_img img {
  width: 300px;
}
.product_des_1 .p_description,
.product_des_2 .p_description_2 {
  margin: 60px 0;
}
.product_des_1 .p_description > div,
.product_des_2 .p_description_2 > div {
  display: grid;
  grid-gap: 0.8rem;
}
.product_des_1 > div,
.product_des_2 > div {
  display: flex;
  gap: 1rem;
}
.p_description {
  text-align: right;
}
.p_description_2 h1,
.p_description h1 {
  color: #c0272c;
  font-family: american;
  font-weight: 100;
  font-size: 40px;
}
.p_description_2 h2,
.p_description h2 {
  color: #222;
  font-family: gidole;
  letter-spacing: 1px;
}
.p_description_2 p,
.p_description p {
  color: #666;
  line-height: 25px;
  font-family: gidole;
}
.phone_main_product {
  display: none;
}
.product_title h1 {
  font-size: 40px;
  /* letter-spacing: 5px; */
}

@media screen and (max-width: 1200px) {
  .product {
    background-color: #dee6e9;
    padding: 5% 7%;
  }
  .main_product_img img {
    width: 250px;
  }
  .product_des_1 .p_description,
  .product_des_2 .p_description_2 {
    margin: 30px 0;
  }
}

@media screen and (max-width: 992px) {
  .phone_main_product {
    display: block;
  }
  .main_product {
    display: none;
  }
  .phone_main_product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .product_des {
    display: grid;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .phone_main_product {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .product_title {
    flex-direction: column-reverse;
  }
  .product_title h5 {
    margin-bottom: 20px;
  }
  .product_title h1 {
    border: none;
    text-align: left;
  }
}

/* Retailers */
.retailers {
  padding: 50px 0;
}
.retailers_container {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
}
.cus_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  /* align-items: center; */
}

.accordion {
  width: 100%;
  max-width: 360px;
  /* margin: 30px auto 20px; */
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px;
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.accordion li:last-child .link {
  border-bottom: 0;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {
  color: #c0272c;
}

.accordion li.open i {
  color: #c0272c;
}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.retailers_submenu {
  display: none;
  background: #dee6e9;
  font-size: 14px;
}

.retailers_submenu li {
  border-bottom: 1px solid #6664;
}

.retailers_submenu a {
  display: block;
  text-decoration: none;
  color: #222;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  font-family: Arial, Helvetica, sans-serif;
}

.retailers_submenu a:hover {
  background: #c0272c;
  color: #fff;
}
.cus_information {
  display: grid;
  gap: 2rem;
  max-height: 300px;
  overflow-y: auto;
}

.cus_information img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}
.cus_information,
.cus_address p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.cus_map iframe {
  width: 100%;
  max-height: 300px;
  border: none;
}
.all_cus_info {
  display: flex;
  gap: 2rem;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
  margin: 5px 20px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .retailers_container {
    padding: 0 5%;
  }
  .retailers_container {
    grid-gap: 0rem;
  }
  .cus_container {
    grid-gap: 1rem;
  }
  .all_cus_info {
    gap: 1rem !important;
    margin: 5px 15px;
    padding: 5px;
  }
  .cus_information {
    gap: 0.5rem;
  }
  .cus_map iframe {
    max-height: 200px;
  }
  .cus_information {
    max-height: 200px;
  }
  .cus_information img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 992px) {
  .retailers_container {
    grid-template-columns: 1fr 3fr;
  }
  .cus_container {
    grid-template-columns: 1fr;
  }
  .cus_map {
    margin: 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .retailers_container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
  .accordion {
    max-width: 100% !important;
  }
}

/* pop-up-shape */
.side_text {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.side_text a {
  display: block;
}
.side_text a img {
  display: block;
  width: 50px;
  margin-left: -2px;
}

.trigger {
  text-align: center;
  color: #fff;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-family: cursive;
}

.side_modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  z-index: 1;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.side_modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.side_show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* contact us */
.contact_us {
  padding: 50px 0;
}
.quick_fix_map iframe {
  width: 100%;
  max-height: 500px;
}
.contact_info {
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  background-color: #c0272c;
}
.contact_address {
  display: grid;
  gap: 4rem;
}
.contact_address_top {
  display: grid;
  gap: 0.5rem;
}
.contact_address_top h5 {
  font-family: gidole;
  letter-spacing: 10px;
  color: #fff;
  font-size: 16px;
}
.contact_address_top h1 {
  font-family: american;
  color: #222;
  font-size: 55px;
}
.contact_address_top p {
  font-family: gidole;
  color: #fff;
  line-height: 25px;
  font-size: 17px;
}
.contact_address_bottom {
  font-family: gidole;
  color: #222;
  display: grid;
  gap: 1rem;
}
.contact_address_bottom div {
  display: flex;
  gap: 1rem;
  color: #fff;
}
.contact_address_bottom div i {
  color: #fff;
  font-size: 20px;
}

.contact_mail {
  display: grid;
  gap: 2rem;
}
.contact_mail input,
.contact_mail textarea {
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  width: 100%;
  font-size: 16px;
  background-color: #c0272c;
  padding: 10px;
  color: #fff;
}
.contact_mail p {
  font-family: gidole;
  font-weight: 500;
  color: #fff;
}
.contact_mail textarea {
  height: 200px;
}
.contact_mail button {
  display: block;
  width: 200px;
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #222;
  font-family: gidole;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}
.contact_mail button:hover {
  background-color: #222;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .contact_info {
    padding: 5%;
    grid-gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contact_info {
    grid-template-columns: 1fr;
  }
  .contact_address_top h1 {
    font-size: 40px;
  }
}

/* about us */
.about_us {
  background: linear-gradient(#fff, #c0272c1f);
  padding: 5% 10%;
}

.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.swiper {
  width: 340px;
  height: 420px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide img {
  /* width: 100%; */
  object-fit: cover;
}

.about_text {
  display: grid;
  gap: 2rem;
}
.about_text h1 {
  font-family: american;
  font-size: 40px;
  letter-spacing: 1px;
}
.about_text p {
  font-family: gidole;
  font-size: 16px;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .about_us {
    padding: 5%;
  }
}
@media screen and (max-width: 992px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .swiper {
    width: 240px;
    height: 320px;
  }
  .about_text h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 576px) {
  .swiper {
    width: 160px;
    height: 240px;
  }
  .about_text h1 {
    text-align: center;
  }
}








/* footer */
.footer_container{
  padding: 2% 10%;
  display: grid;
  grid-template-columns: 3fr 3fr 2fr;
  justify-items: center;
  gap: 2rem;
  background-color: #000;
  color: #fff;
}
.footer_location img{
  width: 60%;
}
.footer_address div{
font-size: 18px;
display: flex;
gap: 1rem;
}
.footer_container h2, .footer_container p{
  font-family: Arial, Helvetica, sans-serif;
}
.footer_about, .footer_address, .footer_location{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_location{
  display: grid;
  justify-items: center;
}


@media screen and (max-width: 1200px) {
  .footer_container{
    padding: 5%;
    gap: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .footer_container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer_container{
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }
  .footer_container p{
    font-size: 14px;
  }
  .footer_location{
    justify-items: left;
  }
  .footer_location img{
    width: 50%;
  }
}